<button type="button"
        id="btn-our1"
        class="btn btn-lg"
        (click)="getData(); changeStyles()"
        >
        <span class="btnText">
        Show View 1
        </span>
</button>
<div class="our-container" id="table-our1">
    <div class="table-responsive">
        <table class="table table-dark table-bordered table-sm">
            <thead>
                <tr class="text tableHeader">
                    <th>N°</th>
                    <th>Number</th>
                    <th>Quantity</th>
                    <th>First Position</th>
                    <th>Last Position</th>
                </tr>
            </thead>
            <tbody  *ngFor="let elem of arrData; let i = index">
                <tr  class="text textView1 tableContent" [ngClass]="{'bg-success':elem.quantity >= 2,'bg-warning':elem.quantity === 1,'table-secondary':elem.quantity < 1}">
                    <td>{{i+1}}</td>
                    <td>{{elem.data}}</td>
                    <td>{{elem.quantity}}</td>
                    <td>{{elem.firstPosition}}</td>
                    <td>{{elem.lastPosition}}</td>
                </tr>
            </tbody>
        </table>
        <span *ngIf="weGetData">
            <!-- input textbox show the string with sorted data stored in ´textValue´ -->
            <input type="text" readonly="" class="form-control" [(ngModel)]="textValue">
        </span>
    </div>
</div>
