body {
    background-color: #092532;
}

h1 {
    text-align: center;
    line-height: 2.5em;
    color: #89c9b8;
    font-size: 5.7vw;
    padding: unset;
}

.our-container {
    padding: 25px;
}

#btn-our1, #btn-our2 {
    background-color: #e1ffc2;
    padding-top: 2.3vh;
    padding-bottom: 2.3vh;
    padding-left: 17vw;
    padding-right: 17vw;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

#btn-our1:hover, #btn-our2:hover {
    background-color: #c7e2b2;
}

.btnText {
    font-size: 2.5vw;
    font-weight: bold;
}

.text {
    font-size: 1.7vw;
}

.textView1 {
    color: #092532;
}

#table-our1, #table-our2 {
    display: none;
    position: absolute; /* we need to set absolute position in tables and relative position in components to place buttons together and tables in the same place */
    width: 313%;
}

.tableHeader {
    text-align: left;
}

.tableContent {
    text-align: right;
}

app-view1, app-view2 {
    position: relative; /* we need to set absolute position in tables and relative position in components to place buttons together and tables in the same place */
}

#trick {
    height: 125vh;
    display: none;
}