<button type="button"
        id="btn-our2"
        class="btn btn-lg"
        (click)="getDict(); changeStyles()"
        >
        <span class="btnText">
        Show View 2
        </span>
</button>
<div class="our-container" id="table-our2">
    <div class="table-responsive">
        <table class="table table-dark table-bordered table-sm">
            <thead>
                <tr class="text tableHeader">
                    <th>N°</th>
                    <th *ngFor="let abcChar of arrAToZ">{{abcChar}}</th><!-- ´a´ to ´z´ columns -->
                    <th>sum numeric contents</th>
                </tr>
            </thead>
            <tbody  *ngFor="let elem of arrDict; let i = index">
                <tr class="text tableContent">
                    <td>{{i+1}}</td>
                    <td *ngFor="let charObj of elem">
                        <!-- never exist .count and .sum in the same charObj object: -->
                        <!-- all objects except the last one have count property -->
                            {{charObj.count}}  
                            {{charObj.sum}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

